@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, #93C572 70%, #C8EBB1 30%);
    position: relative;
    overflow: hidden;
}

.wave {
    position: absolute;
    top: 0;
    right: 30%;
}

nav {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    padding: 0.3rem 1.3rem;
    font-size: 17px;
    font-weight: bold;
    color: #494234;
    position: relative;
    z-index: 1;
}

/* Here the Hover Effect is made on the nav bar */
nav ul li a::after {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: #C8EBB1;
    z-index: -1;
    transition: 0.3s;
}

nav ul li a:hover:after {
    width: 100%
}

.main-container {
    width: 60%;
    padding-top: 100px;
    margin-left: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img-cookie,
.main-text {
    flex-basis: 50%;
    font-family: 'Montserrat', sans-serif;
}

.img-cookie img {
    width: 95%;
}

.main-container h1 {
    font-size: 60px;
    letter-spacing: 1px;
    color: #494234;
}

.main-container p {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 1px;
}

.main-container button {
    margin-top: 2.5rem;
    outline: none;
    border: none;
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    background-color: #494234;
    color: white;
    cursor: pointer;
}

.main-container button:hover {
    background-color: #C8EBB1;
    color: #494234;
}

.swiper {
    width: 20rem;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(13px 1px 6px #524f48);
}

.right {
    position: absolute;
    right: 8%;
    bottom: 28%;
}

.box {
    display: flex;
    align-items: center;
}

.right .box .image img {
    width: 70%;
}

.image {
    margin-top: 2rem;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: -5px 5px 17px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.image:hover {
    background-color: rgba(73, 66, 52, 0.7);
}

.box .inner-box {
    margin: 1.5rem 0 0 1 rem;
    margin-top: 28px;
    margin-left: 10px;
}

.box .inner-box p {
    font-size: 14px;
    font-weight: 500;
}

.social-links {
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.social-links::before {
    content: "";
    width: 80%;
    height: 3px;
    position: absolute;
    top: 42%;
    left: -150px;
    background-color: #494234;
}

.social-links i {
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #93C572;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.social-links i:hover {
    transform: translateY(-10px);
}

@media only screen and (max-width: 480px) {
    .container {
        background: linear-gradient(#93C572 70%, #C8EBB1 30%);
        height: 150vh;
    }

    .wave img {
        display: none;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-wrap: wrap;
    }

    nav img {
        width: 130px;
        height: 40px;
        margin-top: 5px;
    }

    nav ul li {
        margin: 5px 15px;
    }

    nav ul li a {
        font-size: 15px;
    }

    nav ul li a::after {
        height: 90%;
    }

    .main-container {
        padding-top: 3px;
        margin-left: 5rem;
        flex-direction: column;
    }

    .main-container button {
        margin-top: 1rem;
    }

    .main-container h1 {
        font-size: 45px;
    }

    .right {
        bottom: 5%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 45px;
    }

    .social-links {
        right: 10%;
        bottom: 1%;
    }
}